YOUTUBE_API_KEY=your_youtube_api_key_here
YOUTUBE_CHANNEL_HANDLE=NBA
YOUTUBE_CHANNEL_ID=UCWJ2lWNubArHWmf3FIHbfcQ
YOUTUBE_UPLOADS_PLAYLIST_ID=UUWJ2lWNubArHWmf3FIHbfcQ
MAX_PLAYLIST_ITEMS=10
MAX_COMMENT_VIDEOS=1
MAX_COMMENTS_PER_VIDEO=0
TEST_VIDEO_ID=AL0AGaoJCWY
START_COMMENT_PAGE_TOKEN=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=youtube_analytics
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password_here
EXPORT_COMMENT_LIMIT=100000
